<div class="row no-gutters mt-5">
	<div class="col text-center">
		<h2>Budgets</h2>
		<hr>
	</div>
</div>
<div class="row no-gutters">
	<div class="col d-flex budget-picker">
		<div th:each="budget, iter: ${budgets}" class="d-inline-block ml-3 mt-3 mb-3 pr-3 budget-wrapper">
			<div class="budget-container d-flex bg-white" th:classappend="${iter.count == 1}? 'focused':''" th:attr="data-target=${budget.id}" th:id="${'budgetPicker_' + budget.id}">
				<div class="my-auto text-center w-100" th:text="${budget.name}"></div>
				<div class="delete-budget-icon" title="Click to edit template">
					<img th:src="@{/images/close.png}">
				</div>
			</div>
		</div>
	</div>
</div>